#navegador{position: fixed;
top: 0px;
left: 0px;
width: 100%;
background-color: aliceblue;
}


nav ul{
    display: flex;
   list-style: none;
    padding: 0px;
}
nav li{
    position: relative;
    background-color: #0174cf;
    display: inline;
    color: white;
    padding: 10px 30px;
    margin: 1px;
    transform: skewX(35deg);
}
nav li a{
    
    display: inline-block;
    color: white;
    text-decoration: none;
    transform: skewX(-35deg);   
}

nav li:hover{
    
    animation-name: jump;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}
@keyframes jump{
   0%{
       bottom: 0px;
       right: 0px;
   }
    
    100%{
        bottom: 10px;
        right: 7px;
        background-color: lightblue;
    }

}

li:nth-child(odd){background-color: #0174cf;}
li:nth-child(even){background-color: #0844a4;}
