*,
*::after,
*::before {
    box-sizing: border-box;
}


header{

    border: 1px solid #eee;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
   
    font-weight: bolder;
    margin: 0px 2rem;
    padding: 1.5rem;
}

header nav ul{
    list-style: none;
    padding: 0px;
    display: flex;
}
header nav ul li{
    position: relative;
    margin: 0px;
    display: inline;
    color: white;
    padding: 10px 30px;
    transform: skewX(35deg);
}

header nav ul li a {
   display: block;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 0.7rem 2rem;
    transition: background-color 1s ease;
    transform: skewX(-35deg);
}
header nav ul li:hover{
    
    animation-name: jump;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes jump{
  
    
    100%{
       
        
        background-color: lightblue;
    }

}
li:nth-child(odd){background-color: #0174cf;}
li:nth-child(even){background-color: #0844a4;}

